      <div class="jumbotron">
        <h1>The web is full of funy pictures about cats.</h1>
        <p>Although we have 3 cats at home, my daughter likes to google for cats.</p>
        <ul>
          <li><a href="http://zsavigre.uw.hu/cica.html">Like this</a></li>
          <li><a href="http://golyo.kepeslap.com/cica-kutya_IMAGEshow.asp?imageid=206357">or this</a></li>
          <li><a href="http://www.luluka.eoldal.hu/fenykepek/nincs-megadva-rovat/newimages/cica-harc.-.html">or this one.</a></li>
        </ul>
      </div>

