      <div class="jumbotron">
        <h1>Dogs dogs dogs.</h1>
        <p>Dogs still do lots of work.</p>
        <ul>
          <li><a href="http://en.wikipedia.org/wiki/Labrador_Retriever">Labrador retriever</a></li>
          <li><a href="http://en.wikipedia.org/wiki/German_Shepherd">German Shepherd</a></li>
          <li><a href="http://en.wikipedia.org/wiki/Beagle">Beagle</a></li>
        </ul>
      </div>

