    <!-- Fixed navbar -->
    <%= render partial: 'common/navbar', locals: { item: 'cats' } %>

    <div class="container">
      <div class="jumbotron">
        <p>The internet is full of pictures of funny cats.</p>
      </div>
    </div> <!-- /container -->

