    <!-- Fixed navbar -->
    <%= render partial: 'common/navbar', locals: { item: 'dogs' } %>

    <div class="container">
      <div class="jumbotron">
        <p>Dogs, dogs, dogs</p>
      </div>
    </div> <!-- /container -->
