    <!-- Fixed navbar -->
    <%= render partial: 'common/navbar', locals: { item: 'fish' } %>

    <div class="container">
      <%= render partial: 'fish_details' %>
    </div> <!-- /container -->



