    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Favorite Pets</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/fish">Fish</a></li>
            <li><a href="/cats">Cats</a></li>
            <li><a href="/dogs">Dogs</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Fishes all around me</h1>
        <p>There are lots of fishes that you can have at home in an aquarium. There are some that you just cannot.</p>
        <ul>
          <li><a href="http://en.wikipedia.org/wiki/Guppy">Guppy</a></li>
          <li><a href="http://en.wikipedia.org/wiki/Gambusia">Gambusia</a></li>
          <li><a href="http://en.wikipedia.org/wiki/Limia">Limia</a></li>
        </ul>
      </div>
      <div>
      </div>

    </div> <!-- /container -->


