    <!-- Fixed navbar -->
    <%= render partial: 'common/navbar', locals: {item: ''} %>
    
    <div class="jumbotron">
    </div>
<script language="javascript">
$(document).ready(function() {
});
</script>
