    <!-- Fixed navbar -->
    <%= render partial: 'common/navbar', locals: {item: ''} %>
    
    <div class="jumbotron">
    </div>
<script language="javascript">
$(document).ready(function() {
  $('.navbar-nav a').on('click', function(event) {
    alert($(this).attr('id'));
    event.preventDefault();
  });
});
</script>
