    <!-- Fixed navbar -->
    <%= render partial: 'common/navbar', locals: {item: ''} %>
    
    <div class="container" id="jumbo-content">
      <div class="jumbotron">
        <h1>Use the navbar above for content.</h1>
      </div>
    </div>

